.sidebar {
    background-color: var(--sec-background);
    color: var(--text);
    height: 100vh;
    color: #828fa3;
    padding: 0 3rem;
    border: 1px solid var(--borders);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: max-content;
    transition: margin-left .4s
}

.hide {
    margin-left: -300px;
}

.show_sidebar {
    cursor: pointer;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    bottom: 8rem;
    color: #fff;
    width: 12rem;
    height: 6rem;
    background: #635FC7;
    border-radius: 0 25px 25px 0;
    animation: fadeIn .3s ease-in;
    transition: background-color .2s ease;
}

.sidebar_bottom {
    padding-bottom: 3rem;
}

li {
    display: flex;
    align-items: center;
    gap: 2rem;
}

li p {
    font-weight: 700;
}

.logo {
    padding: 2rem 0;
}

.sidebar h2 {
    font-size: 1.6rem;
    padding: 1.5rem 0;
}

.sidebar_list li {
    cursor: pointer;
    padding: 1rem 3rem;
    list-style-type: none;
    transition: color .6s, background-color .6s;
    border-radius: 0 25px 25px 0;
    margin-left: -30%;
    padding-left: 30%;
}

.sidebar_list li:hover {
    background-color: var(--btn-hover);
    color: var(--text-sidebar-hover);
}

.sidebar__toggle--show {
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
}

.sidebar__toggle--theme {
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: var(--background);
    justify-content: space-between;
}

.list-active {
    background-color: #635fc7;
    color: var(--text-sidebar);
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #635fc7;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.new_board {
    color: #635fc7;
}