body {
  --background: #20212C;
  --sec-background: #2B2C37;
  --text: #FFFFFF;
  --label-text-color: #FFFFFF;
  --secondary-button-color: #FFFFFF;
  --secondary-button-color-hover: #FFFFFF;
  --text-sidebar-hover: #635fc7;
  --btn-hover: #a8a4ff;
  --text-sidebar: #fff;
  --checkbox-bg: #20212C;
  --checkbox-color: #2B2C37;
  --borders: #3E3F4E;
  --sidebar-btn-hover: #FFFFFF;
  --new-column-bg: linear-gradient(180deg, rgba(43, 44, 55, .25) 0%, rgba(43, 44, 55, .125) 100%);
}

body.light-theme {
  --background: #F4F7FD;
  --sec-background: #FFFFFF;
  --text: #000112;
  --text-sidebar: #F4F7FD;
  --text-sidebar-hover: #635fc7;
  --label-text-color: #828FA3;
  --secondary-button-color: #F4F7FD;
  --secondary-button-color-hover: #E4EBFA;
  --checkbox-bg: #F4F7FD;
  --checkbox-color: #FFFFFF;
  --borders: #E4EBFA;
  --sidebar-btn-hover: #F4F7FD;
  --new-column-bg: linear-gradient(180deg, #E9EFFA 0%, rgba(233, 239, 250, 0.5) 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-size: 1.6rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
}